body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background: rgb(180, 173, 151);
}

.header_div
{
    background: rgb(99, 83, 63) ;
    color: rgb(219, 186, 140);
}

.header_div p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(223, 180, 128);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: rgb(85, 73, 56);
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color: rgb(186, 158, 123);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(107, 78, 78);
}